<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Form 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedTab" (ionChange)="onTabChange($event)">
      <ion-segment-button value="tab1" (click)="navigateTo('form1')">
        <ion-label>Paso 1</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab2" (click)="navigateTo('form2')">
        <ion-label>Paso 2</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab3" (click)="navigateTo('form3')">
        <ion-label>Paso 3</ion-label>
      </ion-segment-button>
  
    </ion-segment>
  </ion-toolbar>

  <ion-content style="margin-top: 2em;">
    <!-- Contenido específico del formulario 1 -->
    <p style="margin-left: 1em; font-size: 15px; ">Responda cuidadosamente todas las preguntas</p>
    <ion-card>
      <p style="margin-left: 2em;">Datos del denunciante</p>
    </ion-card>
    <ion-input [(ngModel)]="name" type="text" placeholder="Nombre" style="margin-top: 1em;"></ion-input>
    <ion-input [(ngModel)]="apellidoPaterno"  name="apellidoPaterno" type="text" placeholder="Apellido Paterno"></ion-input>
    <ion-input [(ngModel)]="apellidoMaterno"  name="apellidoMaterno" type="text" placeholder="Apellido Materno"></ion-input>
    <ion-label style="margin-left: 2em;">Fecha de nacimiento</ion-label>
    <ion-input [(ngModel)]="fecha_nacimiento" name="fechaNacimiento" type="date" placeholder="Fecha de nacimiento"></ion-input>
    <ion-select [(ngModel)]="genero" interface="popover" type="text" placeholder="Genero">
      <ion-select-option value="Masculino">Masculino</ion-select-option>
      <ion-select-option value="Femenino">Femenino</ion-select-option>
      <ion-select-option value="Otro">Otro</ion-select-option>
    </ion-select>
    <ion-select [(ngModel)]="escolaridad" interface="popover" type="text" placeholder="Escolaridad">
      <ion-select-option value="Primaria">Primaria</ion-select-option>
      <ion-select-option value="Secundaria">Secundaria</ion-select-option>
      <ion-select-option value="Preparatoria">Preparatoria</ion-select-option>
      <ion-select-option value="Licenciatura">Licenciatura</ion-select-option>
      <ion-select-option value="Posgrado">Posgrado</ion-select-option>
    </ion-select>
    <ion-input [(ngModel)]="correo_electronico" type="email" placeholder="Correo Electronico"></ion-input>
    <ion-card>
      <p style="margin-left: 2em;">Datos del domicilio</p>
    </ion-card>
    <ion-select interface="popover" type="text" placeholder="Estado" [(ngModel)]="selectedEstado" (ionChange)="onEstadoChange()">
      <ion-select-option *ngFor="let estado of estados" [value]="estado">{{ estado }}</ion-select-option>
    </ion-select>
    <ion-select interface="popover" type="text" placeholder="Municipio" [(ngModel)]="selectedMunicipio">
      <ion-select-option *ngFor="let municipio of municipios[selectedEstado]" [value]="municipio">{{ municipio }}</ion-select-option>
    </ion-select>
    <ion-input [(ngModel)]="colonia" type="text" placeholder="Colonia"></ion-input>
    <ion-input [(ngModel)]="codigo_postal" type="number" placeholder="C.P"></ion-input>
    <ion-input [(ngModel)]="calle" type="text" placeholder="Calle"></ion-input>
    <ion-input [(ngModel)]="no_exterior" type="text" placeholder="No exterior"></ion-input>
    <ion-input [(ngModel)]="no_interior" type="text" placeholder="No Interior"></ion-input>
    <ion-input [(ngModel)]="tel_celular" type="number" placeholder="Tel Celular"></ion-input>
    <ion-input [(ngModel)]="tel_fijo" type="number" placeholder="Tel Fijo"></ion-input>
    <ion-card>
      <p style="margin-left: 1em; font-size: 15px; ">El denunciante tambien se considera victima y ofendido (a)</p>
    </ion-card>
    <ion-segment [(ngModel)]="selectedOption">
      <ion-segment-button value="Si">
        <ion-label>Sí</ion-label>
      </ion-segment-button>
      <ion-segment-button value="No">
        <ion-label>No</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-card>
    <ion-content class="agregar" style="height: 15em;">
      <ion-button style="margin-left: 6.5em; margin-top: 2em; margin-bottom: 2em;" (click)="toggleCard()">Agregar Victima</ion-button>
      <ion-card *ngIf="showCard">
        <ion-input [(ngModel)]="nombre" type="text" placeholder="Nombre" style="margin-top: 1em;"></ion-input>
        <ion-input [(ngModel)]="apellidoPaterno" type="text" placeholder="Apellido Paterno"></ion-input>
        <ion-input [(ngModel)]="apellidoMaterno" type="text" placeholder="Materno"></ion-input>
        <ion-label style="margin-left: 2em;">Fecha de nacimiento</ion-label>
        <ion-input type="date" placeholder="Fecha de nacimiento"></ion-input>
        <ion-input type="text" placeholder="Genero"></ion-input>
        <ion-input type="text" placeholder="Escolaridad"></ion-input>
        <ion-input type="email" placeholder="Correo Electronico"></ion-input>
        <ion-card>
          <p style="margin-left: 2em;">Datos del domicilio</p>
        </ion-card>
        <ion-select interface="popover" type="text" placeholder="Estado" [(ngModel)]="selectedEstado2" (ionChange)="onEstadoChange()">
          <ion-select-option *ngFor="let estado of estados" [value]="estado">{{ estado }}</ion-select-option>
        </ion-select>
        <ion-select interface="popover" type="text" placeholder="Municipio" [(ngModel)]="selectedMunicipio2">
          <ion-select-option *ngFor="let municipio of municipios[selectedEstado2]" [value]="municipio">{{ municipio }}</ion-select-option>
        </ion-select>
        <ion-input type="text" placeholder="Colonia"></ion-input>
        <ion-input type="number" placeholder="C.P"></ion-input>
        <ion-input type="text" placeholder="Calle"></ion-input>
        <ion-input type="number" placeholder="No exterior"></ion-input>
        <ion-input type="number" placeholder="No Interior"></ion-input>
        <ion-input type="number" placeholder="Tel Celular"></ion-input>
        <ion-input type="number" placeholder="Tel Fijo"></ion-input>
        <ion-button style="margin-left: 8em; margin-bottom: 1em;" (click)="agregar()">Agregar</ion-button>
      </ion-card>
      <table *ngIf="nombres.length > 0" style="margin-top: 1em; margin-left: 2em; margin-bottom: 2em;">
        <tr>
          <th>Nombre</th>
          <th></th>
        </tr>
        <tr *ngFor="let persona of nombres">
          <td style="padding-right: 0.5em">{{ persona.nombre }}</td>
          <td></td>
          <td style="padding-right: 0.5em;">{{ persona.apellidoPaterno }}</td>
          <td></td>
          <td >{{ persona.apellidoMaterno }}</td>
          <td><ion-icon style="margin-left: 0.5em;" name="trash-outline" (click)="eliminar(persona)"></ion-icon></td>
        </tr>
      </table>
      <ion-button style="margin-left: 9em; margin-bottom: 5em;" (click)="guardar2()">Guardar</ion-button>
    </ion-content>
    </ion-card>
  </ion-content>
</ion-content>