<ion-header>
  <ion-toolbar>
    <ion-card style="max-width: 20em; max-height: 6.5em; margin-left: 3em;">
      <ion-title>
        <p style="text-align: center; margin-bottom: -0.5em;">Portal de Denuncia Digital</p>
        <p style="text-align: center">Xalapa, Veracruz</p>
      </ion-title>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 3em; margin-bottom: 2em;">
    <ion-label position="floating" style="text-align: center; margin-left: 8.5em;" text-center>
      Ingresa tu CURP
    </ion-label>
    <ion-item class="item-md-floating">
      <ion-input aria-label="text"></ion-input>
    </ion-item>
  </ion-card>

  <ion-button
    style="max-width: 50%; margin-top: 1em; margin-left: 27%;"
    expand="full"
    routerLink="/form1"
    >
    Continuar
  </ion-button>

  <ion-button class="large" expand="full"
    style="
    max-width: 100%; 
    margin-top: 2em; 
    font-size: 12px; 
    text-decoration: underline; 
    border-radius: 20px;">
    ¿Has olvidado tu CURP? Consultar CURP AQUÍ
  </ion-button>

  <ion-button class="large" expand="full" style="
    max-width: 100%; 
    margin-top: 2em; 
    font-size: 12px; 
    border-radius: 20px;">
    Seguimiento de la denuncia con Folio AQUÍ
  </ion-button>
</ion-content>
