<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title> Búsqueda y Seguimiento por Folio </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header> Número de Folio: <p>{{ folio }}</p></ion-card-header>
      <ion-card-content>
        Estado: <p>{{ status }}</p><br/>
        Seguimiento: <p style="margin-top: 0.2em;">{{ trackingStatus }}</p>
      </ion-card-content>
    </ion-card>
    <ion-button style="margin-left: 10em; margin-bottom: 2em; margin-top: 1em;" expand="default" routerLink="/tabs/tab1" (click)="clearLocal()">Inicio</ion-button>
  </ion-content>

</ion-content>
