<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Form 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedTab" (ionChange)="onTabChange($event)">
      <ion-segment-button value="tab1" (click)="navigateTo('form1')">
        <ion-label>Paso 1</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab2" (click)="navigateTo('form2')">
        <ion-label>Paso 2</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab3" (click)="navigateTo('form3')">
        <ion-label>Paso 3</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab4" (click)="navigateTo('form4')">
        <ion-label>Paso 4</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-content style="margin-top: 2em;">
    <!-- Contenido específico del formulario 1 -->
    <p style="margin-left: 1em; font-size: 15px; ">Responda cuidadosamente todas las preguntas</p>
    <p style="margin-left: 8.5em; font-size: 15px;">Folio  1232123</p>
    <ion-content style="height:55em;">
    <ion-card>
      <p style="margin-left: 0.5em; font-size: 14px;">¿Cuando Sucedio el hecho con aparencia de delito?</p>
    </ion-card>
    <p style="margin-left: 2em;">Fecha</p>
    <ion-input type="date"></ion-input>
    <p style="margin-left: 2em;">Hora</p>
    <ion-input type="time"></ion-input>
    <p></p>
    <ion-card>
      <p style="margin-left: 0.5em; font-size: 14px;">Datos del Domicilio</p>
    </ion-card>
    <ion-select type="text" placeholder="Estado" [(ngModel)]="selectedEstado" (ionChange)="onEstadoChange()">
      <ion-select-option *ngFor="let estado of estados" [value]="estado">{{ estado }}</ion-select-option>
    </ion-select>
    <ion-select type="text" placeholder="Municipio" [(ngModel)]="selectedMunicipio">
      <ion-select-option *ngFor="let municipio of municipios[selectedEstado]" [value]="municipio">{{ municipio }}</ion-select-option>
    </ion-select>
    <ion-select type="text" placeholder="Colonia">
      <ion-select-option value="opcion1">Revolucion</ion-select-option>
      <ion-select-option value="opcion2">Acatlán</ion-select-option>
      <ion-select-option value="opcion3">Acultzingo</ion-select-option>
    </ion-select>
    <ion-input type="number" placeholder="C.P"></ion-input>
    <ion-input type="text" placeholder="Calle"></ion-input>
    <ion-input type="number" placeholder="No Exterior"></ion-input>
    <ion-input type="number" placeholder="No Interior"></ion-input>
      <ion-button style="margin-left: 9em;" (click)="guardar()">Guardar</ion-button>
    </ion-content>
  </ion-content>