<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedTab" (ionChange)="onTabChange($event)">
      <ion-segment-button value="tab1" (click)="navigateTo('form1')">
        <ion-label>Paso 1</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab2" (click)="navigateTo('form2')">
        <ion-label>Paso 2</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab3" (click)="navigateTo('form3')">
        <ion-label>Paso 3</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab4" (click)="navigateTo('form4')">
        <ion-label>Paso 4</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div *ngIf="!envioExitoso">
    <ion-card class="ion-text-center" *ngIf="!ocultarElementos">
      <ion-card-header>
        <ion-card-title>Atención</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="deseaEnviar">¿Desea enviar la denuncia?</p>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-button expand="full" value="Si" (click)="enviarDenuncia()">Si</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="full" value="No" (click)="noEnviar()">No</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="envioExitoso" class="confirmacion-envio">
    <p style="margin-top: 2em;">Su denuncia ha sido enviada</p>
    <ion-icon name='checkmark-circle-outline' size="large" class="icono-ok"></ion-icon>
    <ion-button expand="full" (click)="realizarOtraDenuncia()">Realizar otra denuncia</ion-button>
    <ion-button expand="full" (click)="irAInicio()">Inicio</ion-button>
    <ion-button expand="full" (click)="verFolio()">Ver Folio</ion-button>
  </div>

  <div *ngIf="mostrarFolio" class="confirmacion-envio">
    <p style="margin-top: 0em; margin-left: 10.5em;">Folio</p>
    <ion-card>
      <p style="margin-top: 0em; margin-left: 12em; color:rgb(16, 162, 26); ">{{ folio }}</p>
    </ion-card>
  </div>
  
