p {
    margin-left: 5em;
}

p.deseaEnviar {
    margin-left: 0em;
    margin-bottom: 2em;
}

ion-icon.icono-ok {
    margin-left: 5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: rgb(125, 188, 31);
}

div.confirmacion-envio {
    margin-top: 2em;
}