p {
    margin-left: 0.5em;
}

ion-input {
    margin-left: 2em;
    max-width: 18em;
}

ion-select {
    margin-left: 2em;
}

.custom-select{
    margin-left: 0em;
    font-size: small;
    width:fit-content; /* Ajusta la altura máxima deseada */
    overflow-y: auto; /* Agrega desplazamiento vertical */
  }