<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedTab" (ionChange)="onTabChange($event)">
      <ion-segment-button value="tab1" (click)="navigateTo('form1')">
        <ion-label>Paso 1</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab2" (click)="navigateTo('form2')">
        <ion-label>Paso 2</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab3" (click)="navigateTo('form3')">
        <ion-label>Paso 3</ion-label>
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>

  <ion-content>
    <!-- Contenido específico del formulario 1 -->
    <p style="margin-top: 2em; margin-left: 10em; font-size: 15px;">Folio: {{folio}}</p>
    <ion-content>
    <ion-card>
      <p style="font-size: 14px;">Seleccione la Casilla si tu respuesta es Si</p>
    </ion-card>
    <p>¿Identifica las características de la persona que cometió el delito?</p>

    <ion-checkbox style="font-size: 11px; margin-left: 1.5em;" (ionChange)="toggleFormFields($event)"></ion-checkbox>
    <div *ngIf="showFormFields">
      <!-- Aquí van los campos que deseas mostrar cuando se selecciona el checkbox -->
    <ion-card style="height: 102em;">
      <ion-card><p style="text-align:center;">Probable responsable de los hechos con apariencia de delito</p></ion-card>
      <p>Datos del probable responsable</p>
      <ion-input [(ngModel)]="nombre_probable_responsable" type="text" placeholder="Nombre (s)"></ion-input>
      <ion-input [(ngModel)]="apellido_paterno" type="text" placeholder="Apellido Paterno"></ion-input>
      <ion-input [(ngModel)]="apellido_materno" type="text" placeholder="Apellido Materno"></ion-input>
      <p>Fecha de Nacimiento</p>
      <ion-input [(ngModel)]="fecha_nacimiento" type="date" placeholder="Fecha"></ion-input>
      <ion-select [(ngModel)]="genero" interface="popover" type="text" placeholder="Genero">
        <ion-select-option value="Masculino">Masculino</ion-select-option>
        <ion-select-option value="Femenino">Femenino</ion-select-option>
        <ion-select-option value="Otro">Otro</ion-select-option>
      </ion-select>
      <ion-input [(ngModel)]="alias" type="text" placeholder="Alias"></ion-input>
      <p>Datos del domicilio</p>
      <ion-select interface="popover" type="text" placeholder="Estado" [(ngModel)]="selectedEstado3">
        <ion-select-option *ngFor="let estado of estados" [value]="estado">{{ estado }}</ion-select-option>
      </ion-select>
      <ion-select interface="popover" type="text" placeholder="Municipio" [(ngModel)]="selectedMunicipio3">
        <ion-select-option *ngFor="let municipio of municipios[selectedEstado3]" [value]="municipio">{{ municipio }}</ion-select-option>
      </ion-select>
      <ion-input [(ngModel)]="colonia_domicilio" type="text" placeholder="Colonia"></ion-input>
      <ion-input [(ngModel)]="calle_domicilio" type="text" placeholder="Calle"></ion-input>
      <ion-input [(ngModel)]="no_exterior_domicilio" type="text" placeholder="No Exterior"></ion-input>
      <ion-input [(ngModel)]="no_interior_domicilio" type="text" placeholder="No Interior"></ion-input>
      <p>Señas Particulares</p>
      <ion-select [(ngModel)]="color_piel" interface="popover" type="text" placeholder="Color de Piel">
        <ion-select-option value="Blanco">Blanco</ion-select-option>
        <ion-select-option value="Negro">Negro</ion-select-option>
        <ion-select-option value="Moreno">Moreno</ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="color_ojos" interface="popover" type="text" placeholder="Color de Ojos">
        <ion-select-option value="Marron">Marron</ion-select-option>
        <ion-select-option value="Azul">Azul</ion-select-option>
        <ion-select-option value="Verde">Verde</ion-select-option>
        <ion-select-option value="Miel">Miel</ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="tipo_cabello" interface="popover" type="text" placeholder="Tipo de Cabello">
        <ion-select-option value="Rizado">Lacio</ion-select-option>
        <ion-select-option value="Ondulado">Ondulado</ion-select-option>
        <ion-select-option value="Rizado">Rizado</ion-select-option>
        <ion-select-option value="Crespo">Crespo</ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="color_cabello" interface="popover" type="text" placeholder="Color de Cabello">
        <ion-select-option value="Negro">Negro</ion-select-option>
        <ion-select-option value="Castaño">Castaño</ion-select-option>
        <ion-select-option value="rubio">Rubio</ion-select-option>
        <ion-select-option value="Pelirrojo">Pelirrojo</ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="complexion" interface="popover" type="text" placeholder="Complexion">
        <ion-select-option value="Robusta">Robusta</ion-select-option>
        <ion-select-option value="Delgada">Delgada</ion-select-option>
        <ion-select-option value="Obesa">Obesa</ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="tatuajes" interface="popover" type="text" placeholder="Tiene tatuajes">
        <ion-select-option value="Si">Si</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
      <p>Estatura</p>
      <ion-item>
        <p>{{estatura}}{{" m"}}</p>
        <ion-range min="1.40" max="2.20" step="0.05" snaps="true" [(ngModel)]="estatura">
          <ion-label slot="start">1.40m</ion-label>
          <ion-label slot="end">2.20m</ion-label>
        </ion-range>
      </ion-item>
      <ion-button style="margin-left: 8.5em; margin-bottom: 5em;" (click)="toggleFormFields($event)">Agregar</ion-button>
    </ion-card>
    </div>

    <p>¿Identifica el hecho con apariencia de delito?</p>
    <ion-checkbox style="font-size: 11px; margin-left: 1.5em;" (ionChange)="toggleFormFields2($event)"></ion-checkbox>
    <div *ngIf="showFormFields2">
      <ion-card>
        <ion-select [(ngModel)]="tipo_delito" class="custom-select" interface="popover" placeholder="Seleccione el delito correspondiente a los hechos">
          <ion-select-option value="Abuso de Confianza">Abuso de Confianza</ion-select-option>
          <ion-select-option value="Abuso Sexual">Abuso Sexual</ion-select-option>
          <ion-select-option value="Allanamiento de Morada">Allanamiento de Morada</ion-select-option>
          <ion-select-option value="Amenzas">Amenzas</ion-select-option>
          <ion-select-option value="Ciberacoso">Ciberacoso</ion-select-option>
          <ion-select-option value="Cohecho">Cohecho</ion-select-option>
          <ion-select-option value="Daño en Propiedad Ajena">Daño en Propiedad Ajena</ion-select-option>
          <ion-select-option style="font-size: 3px;" value="Delitos Electorales Realizados por Funcionarios Electorales"><p style="font-size: 3px;">Delitos Electorales Realizados por Funcionarios Electorales</p></ion-select-option>
          <ion-select-option value="Delitos Electorales Realizados por Funcionarios Partidistas o Candidatos">Delitos Electorales Realizados por Partidistas/Candidatos</ion-select-option>
          <ion-select-option value="Delitos Electorales Realizados por Particulares">Delitos Electorales Realizados por Particulares</ion-select-option>
          <ion-select-option value="Delitos Electorales Realizados por Servidores Publicos">Delitos Electorales Realizados por Servidores Publicos</ion-select-option>
          <ion-select-option value="Delitos en Contra de los Animales">Delitos en Contra de los Animales</ion-select-option>
          <ion-select-option value="Desaparición de persona por particulares">Desaparición de persona por particulares</ion-select-option>
          <ion-select-option value="Desaparición forzada de personas">Desaparición forzada de personas</ion-select-option>
          <ion-select-option value="Despojo sin violencia">Despojo sin violencia</ion-select-option>
          <ion-select-option value="Discriminación">Discriminación</ion-select-option>
          <ion-select-option value="Enriquecimiento ilícito">Enriquecimiento ilícito</ion-select-option>
          <ion-select-option value="Hostigamiento sexual"> Hostigamiento sexual</ion-select-option>
          <ion-select-option value="Peculado">Peculado</ion-select-option>
          <ion-select-option value="Robo a casa habitación sin violencia">Robo a casa habitación sin violencia</ion-select-option>
          <ion-select-option value="Robo a comercio sin violencia">Robo a comercio sin violencia</ion-select-option>
          <ion-select-option value="Robo a transeúnte">Robo a transeúnte</ion-select-option>
          <ion-select-option value="Robo sin violencia">Robo sin violencia</ion-select-option>
          <ion-select-option value="Violencia familiar">Violencia familiar</ion-select-option>
        </ion-select>
      </ion-card>
    </div>

    <ion-card>
      <p style="margin-left: 0.5em;">Responda cuidadosamente</p>
    </ion-card>
      <p>¿Sufrió algún tipo de daño?</p>
      <ion-segment [(ngModel)]="selectedOption">
        <ion-segment-button value="Si">
          <ion-label>Sí</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
      <p>¿Hubo testigos en el lugar?</p>
      <ion-segment [(ngModel)]="selectedOption2">
        <ion-segment-button value="Si">
          <ion-label>Sí</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
      <p>¿Llamó a un numero de emergencia</p>
      <ion-segment [(ngModel)]="selectedOption3">
        <ion-segment-button value="Si">
          <ion-label>Sí</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
        <ion-card>
          <p>Relate los hechos a detalle</p>
        </ion-card>
      <ion-card style="height: 40em;">
        <ion-textarea [(ngModel)]="detalles_hechos" style="height: 40em;" placeholder=""></ion-textarea>
      </ion-card>
      <ion-content style="height: 20em;">
        <ion-card>
          <p>Seleccione la Unidad de Investigación más cercana para el seguimiento de su denuncia</p>
        </ion-card>
        <ion-select [(ngModel)]="unidad_investigacion" interface="popover" type="text" placeholder="Unidad de Investigación" style="margin-left: 1em;">
          <ion-select-option value="Fiscalía General Del Estado De Veracruz" style="font-size: 5px;">Fiscalía General Del Estado De Veracruz</ion-select-option>
        </ion-select>
        <ion-button style="margin-left: 9.5em;" (click)="guardar2()">Enviar</ion-button>
      </ion-content>
  </ion-content>

