<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Form 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedTab" (ionChange)="onTabChange($event)">
      <ion-segment-button value="tab1" (click)="navigateTo('form1')">
        <ion-label>Paso 1</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab2" (click)="navigateTo('form2')">
        <ion-label>Paso 2</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab3" (click)="navigateTo('form3')">
        <ion-label>Paso 3</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="tab4" (click)="navigateTo('form4')">
        <ion-label>Paso 4</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-content>
    <!-- Contenido específico del formulario 1 -->
    <p style="margin-top: 2em; margin-left: 8.5em; font-size: 15px;">Folio  1232123</p>
    <ion-content>
    <ion-card>
      <p style="font-size: 14px;">Seleccione la Casilla si tu respuesta es Si</p>
    </ion-card>
    <p>¿Identifica las características de la persona que cometió el delito?</p>
    <ion-checkbox style="font-size: 11px; margin-left: 1.5em;"></ion-checkbox>
    <p>¿Identifica el hecho con apariencia de delito?</p>
    <ion-checkbox style="font-size: 11px; margin-left: 1.5em;"></ion-checkbox>
    <ion-card>
      <p style="margin-left: 0.5em;">Responda cuidadosamente</p>
    </ion-card>
      <p>¿Sufrió algún tipo de daño?</p>
      <ion-segment [(ngModel)]="selectedOption">
        <ion-segment-button value="yes">
          <ion-label>Sí</ion-label>
        </ion-segment-button>
        <ion-segment-button value="no">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
      <p>¿Hubo testigos en el lugar?</p>
      <ion-segment [(ngModel)]="selectedOption2">
        <ion-segment-button value="yes">
          <ion-label>Sí</ion-label>
        </ion-segment-button>
        <ion-segment-button value="no">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
      <p>¿Llamó a un numero de emergencia</p>
      <ion-segment [(ngModel)]="selectedOption3">
        <ion-segment-button value="yes">
          <ion-label>Sí</ion-label>
        </ion-segment-button>
        <ion-segment-button value="no">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
        <ion-card>
          <p>Relate los hechos a detalle</p>
        </ion-card>
      <ion-card style="height: 40em;">
        <ion-textarea style="height: 40em;" placeholder=""></ion-textarea>
      </ion-card>
      <ion-content style="height: 20em;">
        <ion-card>
          <p>Seleccione la Unidad de Investigación más cercana para el seguimiento de su denuncia</p>
        </ion-card>
        <ion-select type="text" placeholder="Unidad de Investigación" style="margin-left: 2em;">
          <ion-select-option value="opcion1" style="font-size: 5px;">Fiscalía General Del Estado De Veracruz</ion-select-option>
        </ion-select>
        <ion-button style="margin-left: 9.5em;">Enviar</ion-button>
      </ion-content>

  </ion-content>

